<a href="https://colab.research.google.com/github/marcokubiack/projeto-novo/blob/master/C%C3%B3pia_de_Indicadores_DataSus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Indicador 01 % de Partos Cesáreos
import pandas as pd

# Caminho para o arquivo CSV (ajuste se necessário)
arquivo_csv = 'ind01.csv'

# Leitura do arquivo CSV
ind01 = pd.read_csv(arquivo_csv)

# Exibir as primeiras linhas do DataFrame
print(df.head())

              nome            cnpj  cd_orgao  cd_ibge   ano  \
0      TRÊS COROAS  88199971000153     61700  4321709  2024
1          CRISTAL  90152240000102     66300  4306056  2021
2   DONA FRANCISCA  87488938000180     46600  4306700  2021
3   SALTO DO JACUÍ  89658025000190     64400  4316451  2022
4  TRÊS CACHOEIRAS  91103127000191     72200  4321667  2021

   qtd_partos_cesarianos  qtd_total_partos  pct_cesareos_ano
0                   63.0             114.0             55.26
1                   35.0              73.0             47.95
2                    3.0              12.0             25.00
3                   74.0              89.0             83.15
4                   62.0              91.0             68.13

In [ ]:
# Verifica a quantidade de valores nulos por coluna
nulos_por_coluna = ind01.isnull().sum()

# Exibe o resultado
print(nulos_por_coluna)

In [ ]:
#Linhas nulas
linhas_com_qualquer_nulo = df[df.isnull().any(axis=1)]
print(linhas_com_qualquer_nulo)

In [ ]:
#linhas de uma coluna nula
linhas_nulas = df[df['pct_cesareos_ano'].isnull()]
print(linhas_nulas)

                       nome            cnpj  cd_orgao  cd_ibge   ano  \
67           UNIÃO DA SERRA  92902154000197     82200  4322350  2023
68                     IRAÍ  87612941000164     50400  4310504  2025
69    GRAMADO DOS LOUREIROS  94703964000140     75800  4309126  2025
70              VILA FLORES  91566869000153     72800  4323309  2025
71                 TAPEJARA  87615449000142     60900  4320909  2025
...                     ...             ...       ...      ...   ...
2480                MAQUINÉ  94436342000100     76800  4311775  2025
2481                COLINAS  94706140000123     74900  4305587  2025
2482        SALVADOR DO SUL  87860763000190     56500  4316501  2025
2483  SÃO JOSÉ DO HORTÊNCIO  92122753000198     71300  4318481  2025
2484                CAIÇARA  87612925000171     43400  4303400  2025

      qtd_partos_cesarianos  qtd_total_partos  pct_cesareos_ano
67                      NaN               NaN               NaN
68                      NaN               NaN               NaN
69                      NaN               NaN               NaN
70                      NaN               NaN               NaN
71                      NaN               NaN               NaN
...                     ...               ...               ...
2480                    NaN               NaN               NaN
2481                    NaN               NaN               NaN
2482                    NaN               NaN               NaN
2483                    NaN               NaN               NaN
2484                    NaN               NaN               NaN

[537 rows x 8 columns]